version: '3.9'

services:
  auth-service:
    build: ./auth-service
    image: hoangtien2k3/ezbuy-auth:latest
    container_name: ezbuy-auth-service
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/auth
      - SPRING_R2DBC_USERNAME
      - SPRING_R2DBC_PASSWORD
      - KEYCLOAK_SERVERURLx
      - KEYCLOAK_REALM
      - KEYCLOAK_CLIENTID
      - KEYCLOAK_CLIENTSECRET
      - KEYCLOAK_GRANTTYPE
      - CLIENT_KEYCLOAK_ADDRESS
      - MINIO_BASEURL
      - MINIO_PUBLICURL
      - MINIO_ACCESSKEY
      - MINIO_SECRETKEY
      - MINIO_BUCKET
    volumes:
      - ./deployment/app-config:/app-config
    ports:
      - "8089:8089"
    networks:
      - ezbuy-network

  cart-service:
    build: ./cart-service
    image: hoangtien2k3/ezbuy-cart:latest
    container_name: ezbuy-cart-service
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/cart
      - SPRING_R2DBC_USERNAME
      - SPRING_R2DBC_PASSWORD
      - KEYCLOAK_SERVERURL
      - KEYCLOAK_REALM
      - KEYCLOAK_CLIENTID
      - KEYCLOAK_CLIENTSECRET
      - KEYCLOAK_GRANTTYPE
      - CLIENT_KEYCLOAK_ADDRESS
    volumes:
      - ./deployment/app-config:/app-config
    ports:
      - "8918:8918"
    networks:
      - ezbuy-network

  notification-service:
    build: ./auth-service
    image: hoangtien2k3/ezbuy-notification:latest
    container_name: ezbuy-notification-service
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/notification
      - SPRING_R2DBC_USERNAME
      - SPRING_R2DBC_PASSWORD
      - KEYCLOAK_SERVERURL
      - KEYCLOAK_REALM
      - KEYCLOAK_CLIENTID
      - KEYCLOAK_CLIENTSECRET
      - KEYCLOAK_GRANTTYPE
      - CLIENT_KEYCLOAK_ADDRESS
    volumes:
      - ./deployment/app-config:/app-config
    ports:
      - "7777:7777"
    networks:
      - ezbuy-network

  payment-service:
    build: ./payment-service
    image: hoangtien2k3/ezbuy-payment:latest
    container_name: ezbuy-payment-service
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/payment
      - SPRING_R2DBC_USERNAME
      - SPRING_R2DBC_PASSWORD
      - KEYCLOAK_SERVERURL
      - KEYCLOAK_REALM
      - KEYCLOAK_CLIENTID
      - KEYCLOAK_CLIENTSECRET
      - KEYCLOAK_GRANTTYPE
      - CLIENT_KEYCLOAK_ADDRESS
    volumes:
      - ./deployment/app-config:/app-config
    ports:
      - "8089:8089"
    networks:
      - ezbuy-network

  product-service:
    build: ./product-service
    image: hoangtien2k3/ezbuy-product:latest
    container_name: ezbuy-product-service
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/product
      - SPRING_R2DBC_USERNAME
      - SPRING_R2DBC_PASSWORD
      - KEYCLOAK_SERVERURL
      - KEYCLOAK_REALM
      - KEYCLOAK_CLIENTID
      - KEYCLOAK_CLIENTSECRET
      - KEYCLOAK_GRANTTYPE
      - CLIENT_KEYCLOAK_ADDRESS
    volumes:
      - ./deployment/app-config:/app-config
    ports:
      - "8950:8950"
    networks:
      - ezbuy-network

  rating-service:
    build: ./rating-service
    image: hoangtien2k3/ezbuy-rating:latest
    container_name: ezbuy-rating-service
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/rating
      - SPRING_R2DBC_USERNAME
      - SPRING_R2DBC_PASSWORD
      - KEYCLOAK_SERVERURL
      - KEYCLOAK_REALM
      - KEYCLOAK_CLIENTID
      - KEYCLOAK_CLIENTSECRET
      - KEYCLOAK_GRANTTYPE
      - CLIENT_KEYCLOAK_ADDRESS
    volumes:
      - ./deployment/app-config:/app-config
    ports:
      - "8950:8950"
    networks:
      - ezbuy-network

  search-service:
    build: ./search-service
    image: hoangtien2k3/ezbuy-search:latest
    container_name: ezbuy-search-service
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/search
      - SPRING_R2DBC_USERNAME
      - SPRING_R2DBC_PASSWORD
      - KEYCLOAK_SERVERURL
      - KEYCLOAK_REALM
      - KEYCLOAK_CLIENTID
      - KEYCLOAK_CLIENTSECRET
      - KEYCLOAK_GRANTTYPE
      - CLIENT_KEYCLOAK_ADDRESS
    volumes:
      - ./deployment/app-config:/app-config
    ports:
      - "8999:8999"
    networks:
      - ezbuy-network

  setting-service:
    build: ./setting-service
    image: hoangtien2k3/ezbuy-setting:latest
    container_name: ezbuy-setting-service
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/setting
      - SPRING_R2DBC_USERNAME
      - SPRING_R2DBC_PASSWORD
      - KEYCLOAK_SERVERURL
      - KEYCLOAK_REALM
      - KEYCLOAK_CLIENTID
      - KEYCLOAK_CLIENTSECRET
      - KEYCLOAK_GRANTTYPE
      - CLIENT_KEYCLOAK_ADDRESS
      - MINIO_BASEURL
      - MINIO_PUBLICURL
      - MINIO_ACCESSKEY
      - MINIO_SECRETKEY
      - MINIO_BUCKET
    volumes:
      - ./deployment/app-config:/app-config
    ports:
      - "8082:8082"
    networks:
      - ezbuy-network

  trigger-service:
    build: ./trigger-service
    image: hoangtien2k3/ezbuy-trigger:latest
    container_name: ezbuy-trigger-service
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/trigger
      - SPRING_R2DBC_USERNAME
      - SPRING_R2DBC_PASSWORD
      - KEYCLOAK_SERVERURL
      - KEYCLOAK_REALM
      - KEYCLOAK_CLIENTID
      - KEYCLOAK_CLIENTSECRET
      - KEYCLOAK_GRANTTYPE
      - CLIENT_KEYCLOAK_ADDRESS
    volumes:
      - ./deployment/app-config:/app-config
    ports:
      - "8999:8999"
    networks:
      - ezbuy-network

networks:
  ezbuy-network:
    driver: bridge
    name: ezbuy-network
    external: true
