<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.hibernate.metamodel.internal" level="OFF"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="io.r2dbc.postgresql.QUERY" level="DEBUG"/>
    <logger name="io.r2dbc.postgresql.PARAM" level="DEBUG"/>

    <property name="LOG_PATTERN" value="%d{dd/MM/yy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="ELASTIC" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>elasticsearch:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ELASTIC"/>
    </root>
</configuration>
